  <form action="connect" method="post" >
     <h2>P2P</h2>
      <p>Če želite dodati vozlisce, s katerim bi se radi povezali, dodajte IP naslov in port</p>
      <label>Vnesite IP: </label>
        <input type="text" name="ip"   required />
      <label>Port: </label>
      <input type="text" name="port"   required />
            <input type="submit" value="Connect"/>
    </form>
