<h1> Registracija </h1>
<form action="/register" method="post">
    <input type="text" name="username" placeholder ="Uporabniško ime" required="">
    <input type="password" name="password" placeholder ="Geslo" required="">
    <input type="submit" value="REGISTER">
</form>
<footer>
<br><a type="button" href="home">Domov</a>
</footer>